<diff>
@@ -44,7 +44,7 @@
   flex-grow: 1;
 }
 
-.sidebar-left, .sidebar-right {
+.sidebar-left, .sidebar-right{
   width: 20%;
   max-width: 300px;
   padding: 1rem;
@@ -52,6 +52,8 @@
   border-radius: 1rem;
   box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
   overflow-y: auto;
+  display: flex;
+  flex-direction: column;
   height: 80%;
 }
 
</diff>
